# NestJS Core
PORT=3000

# Database
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=estate_commission_manager

# Security
# JWT_SECRET=super_secret_jwt_key
